@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap');

/*main*/
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51, 255);
}

.wrap {
    background: url("../img/body-bg.png");
}

.uppercase {
    text-transform: uppercase;
}

.yellow-text {
    color: rgba(241, 177, 40, 255);
}

.section-title {
    margin: 70px 0 80px;
}

h2 {
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    position: relative;
    margin: 0px 0 35px;
}

small {
    font-size: 17px;
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

small:after {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -38px;
    background: rgba(244, 142, 11, 255);
}

section {
    padding: 0 0 70px;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1169px;
    margin: 0 auto;
}

/*header*/
.header-section {
    display: block;
    height: 900px;
    background: url("../img/Layer_21@1X.png") no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header-section {
    position: relative;
}

.header-title {
    position: absolute;
    bottom: 145px;
    padding-left: 216px;
}

.hint {
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-bottom: 28px;
}

.hint span {
    font-size: 48px;
    font-weight: 700;
}

.hint p {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.header-title .subtitle {
    font-size: 54px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding: 40px 30px;
    border: 1px solid #fff;
    position: relative;
    font-weight: 700;
}

.subtitle:before {
    content: "";
    background: #000;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: -40px -30px;
}

/*about us section*/
.img-center {
    display: block;
    margin: 58px auto 80px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 3px solid rgba(241, 177, 40, 255);
}

.nav-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li {
    padding: 0 30px;
}

.colored-title {
    font-size: 28px;
    font-weight: 700;
}

.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(61, 61, 61, 255);
    text-align: left;
}

.services {
    display: flex;
}

.galery-box {
    max-width: 50%;
    flex: 1;
    font-family: Lato;
    font-size: 14px;
    color: rgba(80, 80, 80, 255);
    text-align: justify;
    line-height: 20px;
}

.galery-box-inner {
    display: flex;
    flex-wrap: wrap;
}

.galery-img {
    margin: 0 30px 22px 0;
    width: calc(100% / 2 - 30px);
    position: relative;
}

.galery-img-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #333333;
    color: #fff;
    padding: 15px 14px;
}

.main-btn {
    background: rgba(241, 177, 40, 255);
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    height: 50px;
    padding: 0 28px;
}

.services h3 {
    margin-top: 0;
}

.thin-section {
    background: url(../img/Layer22@1X.png) no-repeat;
    max-height: 380px;
    font-weight: 700;
    background-size: cover;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 150px;
}

.thin-section-inner {
    position: relative;
    padding-bottom: 60px;
}

.thin-section-inner:after {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -38px;
    background: rgba(244, 142, 11, 255);
}

/* team section */
.galery-item {
    position: relative;
}

.team-section-inner {
    display: flex;
    flex-wrap: wrap;
}
